
h1 {
  padding-top: 45px;
}

p {
  text-align: justify;
}

form {
  background-color: rgba(255, 255, 255, 0.418);
}

form:first-child {
  border-radius: 15px 0 0 15px;
}

form:last-child {
  border-radius: 0 15px 15px 0;
}

.intro {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 35px;
  background-color: rgb(113, 175, 255);
}

.connect {
  margin-bottom: 25px;
}
